<head>
    <link href="/public/assets/style.css" rel="stylesheet" type="text/css" />
    <title>MyShopee</title>
    <meta name ="viewport" content="width=device-width", initial-scale=1>
    <meta name="google-signin-client_id" content="393118043039-jp8mb21mc4p5ldmrjpcr2ccseakfrcqc.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>  
</head>

<body>
    <div class="bg">
    <h2>Welcome to MyShoppee!</h2>
    <h3>Sign In</h3>
    <div class="g-signin2" data-onsuccess="onSignIn"> </div>
    <div class="data">
        <p>Profile Details</p>
        <img id ="pic" class="img-circle" width="100" height="100" />
        <p>Email Address</p>
        <p id="email" class="alert alert-danger"></p>
        <button onclick="signOut()" class="btn btn-danger">SignOut</button>
    </div>
    </div>
</body>