<head>
    <link href="/public/assets/style.css" rel="stylesheet" type="text/css"/>
    <title>MyShopee</title>
</head>
<body>
    <div class="grid-container">
        <header class="header">
            <div class="header-links">
                <a href="cart.ejs">Cart</a>
                <a href="Order.ejs">Orders</a>
            </div>
        </header>
        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class="side-close" onclick="closeMenu()">X</button>
            <ul>
                <li>
                    <a href="pebbleart.ejs">Pebble Art</a>
                </li>
                <li>
                    <a href="canvaspainting.ejs">Canvas Painting</a>
                </li>
            </ul>
        </aside>
        <main class="main">
            <div class="content">
                <ul class="Products">
                    <li>
                    <div class="Product">
                        <img class="product-image" scr="images/Stone_flower.jpg" alt="product">
                        <div class="product-name"><a href="product-name">Flowers</a></div>                        </div>
                        <div class="product-type">Pebble Art</div>
                        <div class="price">15$</div>
                                               
                    </div>
                    </li>
                    
                </ul>
            </div>
           
        </main>
    </div>
    <script>
        function openMenu(){
            document.querySelector(".sidebar").classList.add("open")
        }
        function closeMenu(){
            document.querySelector(".sidebar").classList.remove("open")
        }
    </script>
</body>